<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>mie350webapp</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>StudentController</display-name>
		<servlet-name>StudentController</servlet-name>
		<servlet-class>com.mie.controller.StudentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentController</servlet-name>
		<url-pattern>/StudentController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchController</display-name>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>com.mie.controller.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/SearchController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListingsSearchController</display-name>
		<servlet-name>ListingsSearchController</servlet-name>
		<servlet-class>com.proj.controller.ListingsSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListingsSearchController</servlet-name>
		<url-pattern>/ListingsSearchController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.mie.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserLoginController</display-name>
		<servlet-name>UserLoginController</servlet-name>
		<servlet-class>com.proj.controller.UserLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginController</servlet-name>
		<url-pattern>/UserLoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminLoginController</display-name>
		<servlet-name>AdminLoginController</servlet-name>
		<servlet-class>com.proj.controller.AdminLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginController</servlet-name>
		<url-pattern>/AdminLoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserController</display-name>
		<servlet-name>UserController</servlet-name>
		<servlet-class>com.proj.controller.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ListingController</display-name>
		<servlet-name>ListingController</servlet-name>
		<servlet-class>com.proj.controller.ListingController</servlet-class>
		<multipart-config>
  		<max-file-size>3145728</max-file-size>
 		<max-request-size>5242880</max-request-size>
 </multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListingController</servlet-name>
		<url-pattern>/ListingController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayImage</display-name>
		<servlet-name>DisplayImage</servlet-name>
		<servlet-class>com.proj.controller.DisplayImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayImage</servlet-name>
		<url-pattern>/listingImages/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.mie.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>